<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>ThetaCredit - {{title}}</title>
    {% else %}
    <title>ThetaCredit</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header><a href="{{url_for('home')}}" class="upper-link">
        <h1>&Theta;Credit</h1>
    </a>
    </header>
    <main>
        <div class="container">
            {% block content %}
             <!-- Content goes here -->
            {% endblock %}
        </div>
    </main>
    <footer>
        &copy; 2024 ThetaCredit
    </footer>
    <!-- Add Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>